@import "tailwindcss";

@theme {
  /* Our Custom Premium Colors */
  --color-paper: #F8F5F0;
  --color-ink: #1C1C1C;
  --color-accent: #E5E1D8;
  --color-cream: #FDFCFB;

  /* Our Custom Typography */
  --font-sans: var(--font-sans), ui-sans-serif, system-ui;
  --font-serif: var(--font-serif), ui-serif, Georgia;
}

/* Optional: Smooth scrolling for that narrative feel */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
  font-family: var(--font-sans);
  font-weight: 300; /* Makes Inter look 'Light' by default */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.04; /* Very subtle */
  pointer-events: none;
  z-index: 9999;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png"); 
}

html.lenis, html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
h1, h2, h3, h4, .font-serif {
  font-family: var(--font-serif);
  font-weight: 400;
}

/* Custom selection color (the highlight when you drag your mouse) */
::selection {
  background-color: var(--color-accent);
  color: var(--color-ink);
}